<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Swap our for actual link-->
        <link rel="canonical" href="https://{{ client.domain }}{{ page.url }}">

        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="">
        <!-- <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'unsafe-inline'"> -->

        <!--Social Media Display-->
        <meta property="og:title" content="{{ metaTitle }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://{{ client.domain }}{{ page.url }}"/>
        <meta property="og:image" content="/images/social.jpg"/>
        <meta property="og:image:secure_url" content="/images/social.jpg"/>
        <!-- <meta http-equiv="Content-Security-Policy" con> -->
        <!-- <meta http-equiv="Content-Security-Policy" content="script-src-elem 'self' default-src 'self' style-src 'self';" > -->
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"> -->

        <!--Favicons-->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Preload -->
        <link rel="preload" as="image" href="/assets/logo-light.png">
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-regular.woff2" crossorigin>
        <link rel="preload" as="font" type="font/woff2" href="/assets/fonts/roboto-v29-latin-700.woff2" crossorigin>

        <link rel="stylesheet" href="/css/root.css">
        <link rel="stylesheet" href="/css/dark.css">

        <link rel="preload" as="image" href="{{ preloadImg }}"/>

        <!-- Loading in page specific CSS sheets from css block -->
        <link rel="stylesheet" href="/css/critical.css"/>
        <link rel="stylesheet" href="{{ preloadCSS }}">

        <!-- <script src="https://unpkg.com/pdf-lib@1.11.0"></script>
        <script src="https://unpkg.com/downloadjs@1.4.7"></script> -->

        <!--Put analytics tag here at the bottom to prevent it from render blocking-->

        <!-- For home page, use full title, including location for SEO. Other pages should just include the page name -->
        <title>
            {% if page.url == '/'%}
                {{ client.name }} | {{ client.address.city }}, {{ client.address.county }}
            {% else %}
                {{ tagTitle }} | {{ client.name }}
            {% endif %}
        </title>

        </script>
        <!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->
        <!-- <script src="../assets/js/app.js"></script>
        <script src="../assets/js/form.js"></script> -->
    </head>
    <body>
        <!--Screen reader skip main nav-->
        <a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>

        {% include "header.html" %}
        <main id="main">{{ content | safe }}</main>
        {% include "footer.html" %}

        <script defer src="/assets/js/nav.js"></script>
        <script defer src="/assets/js/dark.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- <script type="text/javascript" src="/src/backend/form.js"></script>  -->
        <!--
        This script adds a class to the body after scrolling 100px
        and we used these body.scroll styles to create some on scroll 
        animations with the navbar
    -->
        <script defer>
            document.addEventListener('scroll', (e) => {
                const scroll = document.documentElement.scrollTop;
                if (scroll >= 100) {
                    document
                        .querySelector('body')
                        .classList
                        .add('scroll')
                } else {
                    document
                        .querySelector('body')
                        .classList
                        .remove('scroll')
                }
            });
        </script>
    </body>
</html>